@import "./reset.css";

/* COMMON */
/* COMMON */

body {
  font-family: "Roboto", sans-serif;
}
header {
  height: 25px;
}
h1 {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}
.invisible {
  display: none;
}
.container {
  width: 400px;
  margin: 0 auto;
}

/* FORM & SUMMARY*/
/* FORM & SUMMARY*/

form,
.summary div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form h1,
.summary h1 {
  padding-bottom: 30px;
}
form > div {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.summary > div div {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 300px;
  padding: 30px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 5px;
}
form label {
  font-size: 12px;
}
form input {
  font-size: 12px;
  width: 300px;
  height: 40px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
}
#password-message {
  padding-top: 10px;
  font-size: 12px;
  color: red;
}
form button,
.summary button {
  font-size: 15px;
  background-color: #5c47d2;
  color: white;
  height: 40px;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
}
form button {
  width: 300px;
}
.summary button {
  width: 250px;
}

/* FOOTER */
/* FOOTER */

footer {
  font-size: 15px;
  margin-top: 80px;
}
footer > div {
  display: flex;
  justify-content: center;
  gap: 5px;
}
